.photo
{
    border-style: inherit;
  
    margin-left: 500px;
    height: 200px;
    width: 300px;
}
.btn
{ 
  float: right;
  margin-top: 10px;
  margin-right: 15px;
 width: 100px;
}
.text-center
{ font-size: 50px;
 font-weight: bolder;
    color: darkred;
   
}
.font-italic
{
    font-size: 25px;
    font-style: italic;
    color: rgb(36, 36, 153);
    text-align: center;
    margin-top:80px;

}
.image
{ border-style: none;
    margin-left: 300px;
    margin-top: 150px;
 width: 700px;
 height: 200px;
}
.color
{ 
    background-color: beige;
    
}
.form-control
{
  border-style: solid;
  width: 200px;
}
.label
{
    font-size: 20px;
   font-weight: bold;
   color: darkgreen;
    font-style: italic;
    font-style: oblique;
    
}
.form-check-label
{
    font-size: 13px;
    color: rgb(36, 36, 153);
    font-style: oblique;
    font-weight: bold;
}
.form-check-label1
{
    font-size: 15px;
    color: black;
    font-style: italic;
    font-weight: bolder;
}
.btn1
{ 
     
    margin-right: 15px;
   width: 100px;
}